<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.xhwl.dao.RecordSkuMapper" >
  <resultMap id="BaseResultMap" type="com.management.xhwl.pojo.RecordSku" >
    <constructor >
      <idArg column="id" jdbcType="NUMERIC" javaType="java.lang.Long" />
      <arg column="barcode" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="descr" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="NUMERIC" javaType="java.math.BigDecimal" />
      <arg column="qty" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="adddate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="bk1" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk2" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk3" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk4" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="bk5" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, barcode, descr, price, qty, adddate, bk1, bk2, bk3, bk4, bk5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from recordSku
    where id = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recordSku
    where id = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.management.xhwl.pojo.RecordSku" >
    insert into recordSku (id, barcode, descr, 
      price, qty, adddate, 
      bk1, bk2, bk3, bk4, 
      bk5)
    values (#{id,jdbcType=NUMERIC}, #{barcode,jdbcType=NVARCHAR}, #{descr,jdbcType=NVARCHAR}, 
      #{price,jdbcType=NUMERIC}, #{qty,jdbcType=INTEGER}, #{adddate,jdbcType=TIMESTAMP}, 
      #{bk1,jdbcType=NVARCHAR}, #{bk2,jdbcType=NVARCHAR}, #{bk3,jdbcType=NVARCHAR}, #{bk4,jdbcType=NVARCHAR}, 
      #{bk5,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.management.xhwl.pojo.RecordSku" >
    insert into recordSku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="barcode != null" >
        barcode,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="adddate != null" >
        adddate,
      </if>
      <if test="bk1 != null" >
        bk1,
      </if>
      <if test="bk2 != null" >
        bk2,
      </if>
      <if test="bk3 != null" >
        bk3,
      </if>
      <if test="bk4 != null" >
        bk4,
      </if>
      <if test="bk5 != null" >
        bk5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=NVARCHAR},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=NUMERIC},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="adddate != null" >
        #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="bk1 != null" >
        #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null" >
        #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null" >
        #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null" >
        #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null" >
        #{bk5,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.xhwl.pojo.RecordSku" >
    update recordSku
    <set >
      <if test="barcode != null" >
        barcode = #{barcode,jdbcType=NVARCHAR},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=NVARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=NUMERIC},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="adddate != null" >
        adddate = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="bk1 != null" >
        bk1 = #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null" >
        bk2 = #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null" >
        bk3 = #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null" >
        bk4 = #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null" >
        bk5 = #{bk5,jdbcType=NVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.xhwl.pojo.RecordSku" >
    update recordSku
    set barcode = #{barcode,jdbcType=NVARCHAR},
      descr = #{descr,jdbcType=NVARCHAR},
      price = #{price,jdbcType=NUMERIC},
      qty = #{qty,jdbcType=INTEGER},
      adddate = #{adddate,jdbcType=TIMESTAMP},
      bk1 = #{bk1,jdbcType=NVARCHAR},
      bk2 = #{bk2,jdbcType=NVARCHAR},
      bk3 = #{bk3,jdbcType=NVARCHAR},
      bk4 = #{bk4,jdbcType=NVARCHAR},
      bk5 = #{bk5,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=NUMERIC}
  </update>
</mapper>