<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.infor.dao.InforErrorMapper">
  <resultMap id="BaseResultMap" type="com.management.infor.pojo.InforError">
    <constructor>
      <idArg column="ID" javaType="java.lang.Long" jdbcType="NUMERIC" />
      <arg column="TYPE" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="DESCRIPTION" javaType="java.lang.String" jdbcType="LONGNVARCHAR" />
      <arg column="IMAGE_URL" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ADDWHO" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="ADDDATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="CAUSE" javaType="java.lang.String" jdbcType="LONGNVARCHAR" />
      <arg column="SOLUTION" javaType="java.lang.String" jdbcType="LONGNVARCHAR" />
      <arg column="RESULT" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="PROCESS_WHO" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="PROCESS_DATE" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="BK1" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="BK2" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="BK3" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="BK4" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="BK5" javaType="java.lang.String" jdbcType="NVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, TYPE, DESCRIPTION, IMAGE_URL, ADDWHO, ADDDATE, CAUSE, SOLUTION, RESULT, PROCESS_WHO, 
    PROCESS_DATE, BK1, BK2, BK3, BK4, BK5
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from INFOR_ERROR
    where ID = #{id,jdbcType=NUMERIC}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from INFOR_ERROR
    where ID = #{id,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.management.infor.pojo.InforError">
    insert into INFOR_ERROR (ID, TYPE, DESCRIPTION, 
      IMAGE_URL, ADDWHO, ADDDATE, 
      CAUSE, SOLUTION, RESULT, 
      PROCESS_WHO, PROCESS_DATE, BK1, 
      BK2, BK3, BK4, BK5
      )
    values (#{id,jdbcType=NUMERIC}, #{type,jdbcType=NVARCHAR}, #{description,jdbcType=LONGNVARCHAR}, 
      #{imageUrl,jdbcType=NVARCHAR}, #{addwho,jdbcType=NVARCHAR}, #{adddate,jdbcType=TIMESTAMP}, 
      #{cause,jdbcType=LONGNVARCHAR}, #{solution,jdbcType=LONGNVARCHAR}, #{result,jdbcType=NVARCHAR}, 
      #{processWho,jdbcType=NVARCHAR}, #{processDate,jdbcType=TIMESTAMP}, #{bk1,jdbcType=NVARCHAR}, 
      #{bk2,jdbcType=NVARCHAR}, #{bk3,jdbcType=NVARCHAR}, #{bk4,jdbcType=NVARCHAR}, #{bk5,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.management.infor.pojo.InforError">
    insert into INFOR_ERROR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="imageUrl != null">
        IMAGE_URL,
      </if>
      <if test="addwho != null">
        ADDWHO,
      </if>
      <if test="true">
        ADDDATE,
      </if>
      <if test="cause != null">
        CAUSE,
      </if>
      <if test="solution != null">
        SOLUTION,
      </if>
      <if test="result != null">
        RESULT,
      </if>
      <if test="processWho != null">
        PROCESS_WHO,
      </if>
      <if test="true">
        PROCESS_DATE,
      </if>
      <if test="bk1 != null">
        BK1,
      </if>
      <if test="bk2 != null">
        BK2,
      </if>
      <if test="bk3 != null">
        BK3,
      </if>
      <if test="bk4 != null">
        BK4,
      </if>
      <if test="bk5 != null">
        BK5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NUMERIC},
      </if>
      <if test="type != null">
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGNVARCHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null">
        #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="true">
        getdate(),
      </if>
      <if test="cause != null">
        #{cause,jdbcType=LONGNVARCHAR},
      </if>
      <if test="solution != null">
        #{solution,jdbcType=LONGNVARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=NVARCHAR},
      </if>
      <if test="processWho != null">
        #{processWho,jdbcType=NVARCHAR},
      </if>
      <if test="true">
        getdate(),
      </if>
      <if test="bk1 != null">
        #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null">
        #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null">
        #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null">
        #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null">
        #{bk5,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.management.infor.pojo.InforError">
    update INFOR_ERROR
    <set>
      <if test="type != null">
        TYPE = #{type,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=LONGNVARCHAR},
      </if>
      <if test="imageUrl != null">
        IMAGE_URL = #{imageUrl,jdbcType=NVARCHAR},
      </if>
      <if test="addwho != null">
        ADDWHO = #{addwho,jdbcType=NVARCHAR},
      </if>
      <if test="adddate != null">
        ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      </if>
      <if test="cause != null">
        CAUSE = #{cause,jdbcType=LONGNVARCHAR},
      </if>
      <if test="solution != null">
        SOLUTION = #{solution,jdbcType=LONGNVARCHAR},
      </if>
      <if test="result != null">
        RESULT = #{result,jdbcType=NVARCHAR},
      </if>
      <if test="processWho != null">
        PROCESS_WHO = #{processWho,jdbcType=NVARCHAR},
      </if>
      <if test="true">
        PROCESS_DATE = getdate(),
      </if>
      <if test="bk1 != null">
        BK1 = #{bk1,jdbcType=NVARCHAR},
      </if>
      <if test="bk2 != null">
        BK2 = #{bk2,jdbcType=NVARCHAR},
      </if>
      <if test="bk3 != null">
        BK3 = #{bk3,jdbcType=NVARCHAR},
      </if>
      <if test="bk4 != null">
        BK4 = #{bk4,jdbcType=NVARCHAR},
      </if>
      <if test="bk5 != null">
        BK5 = #{bk5,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.management.infor.pojo.InforError">
    update INFOR_ERROR
    set TYPE = #{type,jdbcType=NVARCHAR},
      DESCRIPTION = #{description,jdbcType=LONGNVARCHAR},
      IMAGE_URL = #{imageUrl,jdbcType=NVARCHAR},
      ADDWHO = #{addwho,jdbcType=NVARCHAR},
      ADDDATE = #{adddate,jdbcType=TIMESTAMP},
      CAUSE = #{cause,jdbcType=LONGNVARCHAR},
      SOLUTION = #{solution,jdbcType=LONGNVARCHAR},
      RESULT = #{result,jdbcType=NVARCHAR},
      PROCESS_WHO = #{processWho,jdbcType=NVARCHAR},
      PROCESS_DATE = getdate(),
      BK1 = #{bk1,jdbcType=NVARCHAR},
      BK2 = #{bk2,jdbcType=NVARCHAR},
      BK3 = #{bk3,jdbcType=NVARCHAR},
      BK4 = #{bk4,jdbcType=NVARCHAR},
      BK5 = #{bk5,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NUMERIC}
  </update>
  <select id="findAll" parameterType="map" resultMap="BaseResultMap">
    select a.*
    FROM INFOR_ERROR a, login b, ORGANIZATION c
    where a.ADDWHO=b.id and b.ORGANIZATION_ID = c.ID
    <if test="inforError.id != null ">
      and a.id = #{inforError.id}
    </if>
    <if test="inforError.type != null">
      and a.type = #{inforError.type}
    </if>
    <if test="inforError.bk1 != null">
      and a.bk1 = #{inforError.bk1}
    </if>
    <if test="ids != null and ids.size() > 0">
      and c.id in
      <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    order by a.id
  </select>

</mapper>