<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.management.login.dao.RoleAccordionMapper" >
  <resultMap id="BaseResultMap" type="com.management.login.pojo.RoleAccordionKey" >
    <constructor >
      <idArg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <idArg column="accordion_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="com.management.login.pojo.RoleAccordionKey" >
    delete from role_accordion
    where role_id = #{roleId,jdbcType=INTEGER}
      and accordion_id = #{accordionId,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.management.login.pojo.RoleAccordionKey" >
    insert into role_accordion (role_id, accordion_id)
    values (#{roleId,jdbcType=INTEGER}, #{accordionId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.management.login.pojo.RoleAccordionKey" >
    insert into role_accordion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="accordionId != null" >
        accordion_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="accordionId != null" >
        #{accordionId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteByRoleId" parameterType="integer">
    delete from role_accordion where role_id = #{id} and accordion_id > 40
  </delete>
</mapper>